/* TODO: ADD variable instead of literal app id */

@font-face {
	font-family: 'PoppinsLight';
	src: url('chrome-extension://fimakglndffnifgenheaogoeokjifkcf/Assets/Fonts/Poppins-Light.ttf');
}

@font-face {
	font-family: 'PoppinsRegular';
	src: url('chrome-extension://fimakglndffnifgenheaogoeokjifkcf/Assets/Fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: 'PoppinsMedium';
	src: url('chrome-extension://fimakglndffnifgenheaogoeokjifkcf/Assets/Fonts/Poppins-Medium.ttf');
}

@font-face {
	font-family: 'PoppinsSemiBold';
	src: url('chrome-extension://fimakglndffnifgenheaogoeokjifkcf/Assets/Fonts/Poppins-SemiBold.ttf');
}
